<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Paralelni polis - Tickets</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


    <!--[if lt IE 9]>
    <script src="/assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate ct-navbar--fixedTop ct-js-navbarMakeSmaller ct-js-enableWayPoints">

<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html"><img src="/static/img/institut_logo.png" alt="Institut Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li><a href="http://hcpp.cz">HCPP 2015</a></li>
        <li><a href="http://www.paralelnipolis.cz/kontakt/">Contact</a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">
<nav class="navbar navbar-inverse ct-navbar--logoright" role="navigation">
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="/static/img/institut_logo.png" alt="Institut Logo"> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav ct-navbarNav--defaultActive ct-navbar--fadeIn yamm">
        <li><a href="http://hcpp.cz">HCPP 2015</a></li>
        <li><a href="http://www.paralelnipolis.cz/kontakt/">Contact</a></li>
    </ul>

    </div>
    <!-- /.navbar-collapse -->

</div>
<!-- /.container -->
</nav>


<header class="ct-pageHeader ct-pageHeader--motive ct-pageHeader--hasDescription ct-u-paddingBoth10" style="background-color:grey;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-lowercase ct-fw-600 ct-u-colorWhite">
                    HCPP 2015
                </h1>
            </div>
            <div class="col-md-4">
                    <span class="ct-u-size20 ct-u-colorWhite">
                        Bitcoin. Privacy. Security.
                    </span>
            </div>
        </div>
    </div>
</header>


<div class="container ct-u-paddingBottom70">


        {% block content %}{%endblock%}
</div>

<footer class="ct-u-backgroundDarkGray ">
    <div class="container ct-u-paddingBoth50">
        <div class="row ct-u-borderLeft">
            <div class="col-sm-12 col-md-4 ct-u-paddingBoth20">
                <p>
                    <img src="/static/img/institut_logo.png" alt="Paper Hub Logo">
                    <br>
                    <br>
                     Bitcoin. Privacy. Security. 
                </p>
            </div>
            <div class="col-sm-6 col-md-4 ct-u-paddingBoth30">

            </div>
            <div class="col-sm-6 col-md-4 ct-u-paddingBoth30">
                <h5 class="text-uppercase ct-fw-600"><i class="fa fa-dot-circle-o"></i>CONTACT US</h5>
                <br>
                <span class="h3 ct-fw-800" style="font-size:38px;"><span class="ct-u-colorDarkerGray">+420</span> 736 114 060</span>
                <br>
                <span class="text-uppercase ct-fw-600">DĚLNICKÁ 43, PRAHA 7, CZECH REPUBLIC</span>
                <br>
                <a href="mailto:info@paralelnipolis.cz" class="text-uppercase ct-u-underline ct-fw-600">info@paralelnipolis.cz</a>
                <br>
                <a href="https://www.facebook.com/paperhub"><i class="fa fa-fw fa-facebook-square"></i> Paper Hub on Facebook</a>
                <br>
                <a href="https://www.facebook.com/events/111132575904264/"><i class="fa fa-fw fa-facebook-square"></i> HCPP 2015 on Facebook</a>
                <br>
                <a href="https://www.facebook.com/vejdiven"><i class="fa fa-fw fa-facebook-square"></i> Paralelni Polis on Facebook</a>
            </div>
        </div>
    </div>
    <div class="ct-footerBottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <div class="ct-socials">
                             <ul>
<!--                                 <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                            class="fa fa-fw fa-pinterest"></i></a>
                                </li> -->
                                <li>
                                    <a href="https://instagram.com/paper_hub/" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                            class="fa fa-fw fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/paperhub" data-toggle="tooltip"
                                       data-placement="top" title="Facebook"><i class="fa fa-fw fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Paper_Hub" data-toggle="tooltip" data-placement="top"
                                       title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/104114621737451145471/posts" data-toggle="tooltip" data-placement="top"
                                       title="Google"><i class="fa fa-fw fa-google-plus"></i></a>
                                </li>
<!--                                 <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                                            class="fa fa-fw fa-linkedin"></i></a>
                                </li> -->
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- JavaScripts -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.placeholder.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/device.min.js"></script><script src="/assets/js/jquery.browser.min.js"></script>
<script src="/assets/js/snap.min.js"></script>
<script src="/assets/js/jquery.appear.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/waypoints-sticky.min.js"></script>

<script src="/assets/js/main.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



<script>
    $(document).ready(function() {

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            
            {% for category, message in messages %}

                setTimeout(function() {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 4000
                    };

                    {% if category == "message" %}
                        toastr.success('', '{{ message }}');
                    {% else %}
                        toastr.{{category}}('', '{{ message }}');
                    {% endif %}

                }, 100);

            {% endfor %}

          {% endif %}
        {% endwith %}

    });
</script>


</body>
</html>